.App {
  text-align: center;
}

.input {
  height:30px;
}

.addButton {
    padding: 10px 20px;
}

.deleteBtn{
  adding: 3px;
    margin-left: 10px;
}

ul{
  list-style: none;
  background: aliceblue;
  width: 300px;
  margin: auto;
  text-align: left;
}

li{
  margin:2px;
}

.todoFinished{
  text-decoration: line-through;
}

.todoText{
  display: inline-block;
      margin: 5px 0;
}
